@{
	@model ClassicECommerceApp.Web.Areas.Account.Models.LoginViewModel
	string? returnUrl = Context.Request.Query["ReturnUrl"];
}


<div class="tw-flex tw-items-center tw-justify-center tw-w-2/3 tw-h-full tw-bg-zinc-800 tw-my-1">
	<div class="tw-h-full tw-flex-grow tw-basis-7/12 tw-flex tw-items-center tw-justify-center">
		<div class="tw-h-full tw-flex tw-w-4/5 tw-flex-col tw-items-center tw-justify-start tw-relative">
			<!-- Logo -->
			<div class="tw-flex tw-justify-start tw-items-end tw-w-full tw-mt-24">
				<img class="tw-w-16 tw-h-16" src="~/images/circle_bananaback.png" alt="bananaback-logo" />
			</div>
			<!-- List -->
			<div class="tw-flex tw-flex-col tw-justify-center tw-items-start tw-w-full tw-mt-16">
				<h1 class="tw-text-white tw-text-4xl tw-font-bold tw-text-center">Become a </h1>
				<span class="tw-text-4xl tw-font-bold tw-text-center tw-mb-6 tw-text-green-600">ShopMaster 💚</span>
				<p class="tw-text-white tw-text-lg tw-text-center tw-mb-4">Join our community and enjoy exclusive benefits!</p>
				<ul class="tw-text-white tw-text-base tw-list-none tw-list-inside tw-text-left tw-mb-6">
					<li>
						<div class="tw-rounded-full tw-bg-white tw-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="tw-fill-green-500">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
							</svg>
						</div>
						Track your purchases
					</li>
					<li>
						<div class="tw-rounded-full tw-bg-white tw-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="tw-fill-green-500">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
							</svg>
						</div>
						Set your shopping goals
					</li>
					<li>
						<div class="tw-rounded-full tw-bg-white tw-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="tw-fill-green-500">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
							</svg>
						</div>
						Receive personalized recommendations
					</li>
					<li>
						<div class="tw-rounded-full tw-bg-white tw-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="tw-fill-green-500">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
							</svg>
						</div>
						Get exclusive discounts
					</li>
					<li>
						<div class="tw-rounded-full tw-bg-white tw-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="tw-fill-green-500">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
							</svg>
						</div>
						Practice safe and secure shopping
					</li>
					<li>
						<div class="tw-rounded-full tw-bg-white tw-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="tw-fill-green-500">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
							</svg>
						</div>
						Build and manage your wish list
					</li>
					<li>
						<div class="tw-rounded-full tw-bg-white tw-inline-block">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" class="tw-fill-green-500">
								<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
							</svg>
						</div>
						Match with relevant products and deals
					</li>
				</ul>
			</div>
			<div class="tw-absolute tw-top-1/3 tw--right-12">
				<img src="~/images/shopping-icon.png" alt="shopping-icon" class="tw-w-64 tw-h-64" />
			</div>
		</div>
	</div>
	<div class="tw-h-full tw-bg-zinc-800 tw-flex-grow tw-basis-5/12 tw-flex tw-items-center tw-justify-center">
		<div class="tw-h-auto tw-bg-white tw-mx-2 tw-w-11/12 tw-rounded-lg tw-flex tw-justify-center">
			<div class="tw-w-4/5 tw-h-full tw-flex tw-flex-col tw-items-center tw-justify-start tw-gap-6">
				<h1 class="tw-text-black tw-text-3xl tw-text-center tw-mt-12">Log in</h1>
				<div class="tw-w-full tw-items-center tw-flex tw-justify-end">
					<p class="tw-text-sm tw-font-semibold tw-font-black">Dont have an account?</p>
					<a asp-area="Account" asp-controller="UserAccount" asp-action="Register" class="tw-text-sm tw-font-semibold tw-text-green-500"> Sign up</a>
				</div>
				<!-- External login buttons -->
				<div class="tw-flex tw-w-full">
					<form asp-controller="UserAccount" asp-action="ExternalLogin" asp-route-provider="Google" method="post" class="tw-cursor-pointer tw-font-semibold tw-flex-1 tw-border tw-border-neutral-600 tw-rounded-lg tw-mx-1 tw-h-10 tw-flex tw-items-center tw-justify-center tw-gap-9 hover:tw-bg-blue-200">
						@Html.AntiForgeryToken()
						<input type="hidden" name="returnUrl" value="@returnUrl" />

						<button type="submit" class="tw-flex tw-justify-between">
							Google
							<div class="tw-ml-2">
								<svg role="img" height="24" width="24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 48 48">
									<defs>
										<path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"></path>
									</defs>
									<clipPath id="b">
										<use xlink:href="#a" overflow="visible"></use>
									</clipPath>
									<path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z"></path>
									<path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z"></path>
									<path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z"></path>
									<path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z"></path>
								</svg>
							</div>
						</button>
					</form>

					<form asp-controller="UserAccount" asp-action="ExternalLogin" asp-route-provider="Facebook" method="post" class="tw-cursor-pointer tw-font-semibold tw-flex-1 tw-border tw-border-neutral-600 tw-rounded-lg tw-mx-1 tw-h-10 tw-flex tw-items-center tw-justify-center tw-gap-9 hover:tw-bg-blue-200">
						@Html.AntiForgeryToken()
						<button type="submit" class="tw-flex tw-justify-between">
							Facebook
							<div class="tw-ml-2"><svg width="17" height="20" viewBox="0 0 17 20" fill="#0080ff" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_196_3851)"><path d="M5.7982 11.7172H8.20975V21.6452C8.20975 21.8412 8.36858 22 8.56459 22H12.6535C12.8495 22 13.0083 21.8412 13.0083 21.6452V11.764H15.7806C15.9608 11.764 16.1125 11.6287 16.1331 11.4497L16.5541 7.79467C16.5657 7.69411 16.5338 7.59341 16.4666 7.51797C16.3992 7.44246 16.3028 7.39924 16.2017 7.39924H13.0084V5.10812C13.0084 4.41746 13.3803 4.06723 14.1138 4.06723C14.2184 4.06723 16.2017 4.06723 16.2017 4.06723C16.3977 4.06723 16.5566 3.90834 16.5566 3.71239V0.357465C16.5566 0.161452 16.3977 0.00262581 16.2017 0.00262581H13.3243C13.304 0.00163226 13.259 0 13.1925 0C12.6933 0 10.9579 0.0980064 9.58709 1.3591C8.06824 2.7566 8.27937 4.42988 8.32983 4.71999V7.39917H5.7982C5.60219 7.39917 5.44336 7.55799 5.44336 7.75401V11.3623C5.44336 11.5583 5.60219 11.7172 5.7982 11.7172Z" fill="#0080ff"></path></g><defs><clipPath id="clip0_196_3851"><rect width="22" height="22" fill="white"></rect></clipPath></defs></svg></div>
						</button>
					</form>
				</div>
				<div class="tw-text-gray-400">
					OR
				</div>
				<form asp-action="Login" method="post" class="tw-w-full tw-flex tw-flex-col tw-gap-4 tw-items-center tw-justify-center">
					@Html.AntiForgeryToken()
					<div asp-validation-summary="All" class="tw-text-red-500 tw-text-sm"></div>
					<div class="tw-w-full">
						<input asp-for="Email" type="email" placeholder="email" class="tw-w-full tw-border tw-border-[#d4d1d3] tw-rounded-[7px] tw-h-[40px] tw-px-[10px]" />
						<span asp-validation-for="Email" class="tw-text-red-500 tw-text-sm"></span>
					</div>
					<div class="tw-w-full">
						<input asp-for="Password" type="password" placeholder="password" class="tw-w-full tw-border tw-border-[#d4d1d3] tw-rounded-[7px] tw-h-[40px] tw-px-[10px]" />
						<span asp-validation-for="Password" class="tw-text-red-500 tw-text-sm"></span>
					</div>
					<div class="tw-w-full tw-mb-12 tw-flex tw-items-center tw-justify-center tw-gap-4">
						<a asp-area="Account" asp-controller="UserAccount" asp-action="ForgotPassword" class="tw-w-full tw-border tw-border-gray-500 tw-h-10 tw-bg-white tw-cursor-pointer tw-text-black tw-font-semibold tw-rounded-lg tw-flex tw-items-center tw-justify-center">Forgot Password?</a>
						<button type="submit" class="tw-w-full tw-h-10 tw-bg-green-500 tw-cursor-pointer tw-text-white tw-font-semibold tw-rounded-lg">Login</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const form = document.querySelector('form');
			const passwordInput = document.querySelector('input[name="Password"]');

			passwordInput.addEventListener('input', function () {
				validatePassword(passwordInput);
				validateConfirmPassword();
				passwordInput.reportValidity();
			});

			form.addEventListener('submit', function (event) {
				validatePassword(passwordInput);

				if (!form.checkValidity()) {
					event.preventDefault();
					passwordInput.reportValidity();
					confirmPasswordInput.reportValidity();
				}
			});

			function validatePassword(input) {
				const password = input.value;
				const minLength = 6;
				const requireDigit = /\d/.test(password);
				const requireLowercase = /[a-z]/.test(password);
				const requireUppercase = /[A-Z]/.test(password);
				const requireNonAlphanumeric = /[^a-zA-Z0-9]/.test(password);

				let message = '';
				if (password.length < minLength) {
					message = "Password must be at least 6 characters long.";
				} else if (!requireDigit) {
					message = "Password must contain at least one digit.";
				} else if (!requireLowercase) {
					message = "Password must contain at least one lowercase letter.";
				} else if (!requireUppercase) {
					message = "Password must contain at least one uppercase letter.";
				} else if (!requireNonAlphanumeric) {
					message = "Password must contain at least one non-alphanumeric character.";
				}

				input.setCustomValidity(message);
			}
		});
	</script>
}
