
@{
    <div class="tw-container tw-flex tw-items-center tw-justify-center">
        &copy; 2024 - ClassicECommerceApp.Web - <a asp-area="" asp-controller="Home"
                                                   asp-action="Privacy">Privacy</a>
    </div>
}
